
/* START FROM SMARTPHONE VERSION */

/*************************************************
    GENERAL STYLES
 *************************************************/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.1em;
}

section {
    padding: 65px 0;
 }

h2 {
    font-size: 2.1em;
    margin-bottom: 45px;
}

h3 {
    font-size: 1.4em;
    margin-bottom: 25px;
}

p {
    line-height: 1.5;
    /* font-size: 1.1em; */
    /* margin-bottom: 20px; */
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

button {
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

button.small-btn {
    max-height: 35px;
    padding: 5px 12px;
}

button.medium-btn {
    padding: 12px 45px;
    color: #ffffff;
    font-size:  1em;
    font-weight: 700;
    letter-spacing: 2px;
}



/************************************************
    UTILITIES
 ************************************************/

/* LAYOUT */

.container {
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

    /* RESPONSIVE TABLET E DESKTOP */

    @media all and (min-width: 480px) {
        .container {
            width: 90%;
        }
    }

.bg-white {
    background-color: #ffffff;
    color: #333333;
}

.bg-white h2, .bg-white h3 {
    color: #9792e4;
}

.bg-lavander {
    background-color: #9792e4;
    color: #ffffff;
}

.card {
    margin-bottom: 35px;
    padding: 30px 20px;
    border-radius: 50px;
}

/* circular img */

.image.circle {
    width: 200px;
    height: 200px;
    margin: 0 auto 15px;

}

.image.circle img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 50%;
}

/* ICON IN BUTTONS */

button i {
    margin-right: 5px;
    font-size: inherit;
    color: inherit;
}



/* TEXT */

/************************************************
    SITE SECTIONS
 ************************************************/

 /* HEADER */

 header {
    height: 70px;
    background-color: #0084fd;
    color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 900;


 }

 header .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 header #menu-mobile {
    font-size: 25px;
 }

 header #menu-desktop {
    height: 100%;
    display: none;
 }

    /* RESPONSIVE DESKTOP */

    @media all and (min-width: 811px) {

        .container {
            max-width: 1100px;
        }

        header #menu-mobile {
            display: none;
        }

            /* Menu desktop */
            header #menu-desktop {
                display: flex;
                align-items: center;
            }

            header #menu-desktop ul {
                display: flex;
                height: 100%;
            }

            #menu-desktop ul li {
                margin-right: 20px;
                height: 100%;
            }

            #menu-desktop ul li a {
                height: 100%;
                display: flex;
                align-items: center;
            }

            #menu-desktop button {
                background-color: #ffffff;
            }

    }

/* MAIN */

main {
    margin-top: 60px;
}

/* DEVELOPER */

#developer .col {
    background-color: #b5ddff;
    color: #5a6e7f;
    border-radius: 20px;
    padding: 30px;
}

#developer .col h3 {
    color: #0084fd;
}

    /* Developer col wide */

    #developer .col.wide {
        text-align: left;
        padding-bottom: 0;
    }

    #developer .col.wide button {
        background-color: #0084fd;
        margin: 30px 0;
    }

    #developer .col.wide .image {
        width: 240px;
        height: 270px;
        position: relative;
    }

    .col.wide .image img {
        position: absolute;
        bottom: 0;
    }

    /* Developer col narrow */

    #developer .col.narrow i {
        color: #0084fd;
        margin-bottom: 25px;
        font-size: 5em;
    }


    /* ONLY FOR SMARTPHONE */

    @media all and (max-width: 479px) {

        #developer .col {
            margin-bottom: 25px;
        }

        #developer .col.wide .image {
            margin: auto;
        }
    }


    /* RESPONSIVE TABLET E DESKTOP */

    @media all and (min-width: 480px) {

        #developer {
            margin-bottom: 40px;
        }

        #developer .container {
            display: grid;
            grid-template-columns: calc((100% - 40px) / 3) calc((100% - 40px) / 3) calc((100% - 40px) / 3);
            grid-template-rows: auto;
            gap: 20px;
        }

        #developer .col.wide {
            grid-column: 1 / span 2;
        }

        #developer .col.wide .image {
            min-width: 220px;
            /* width: 220px;
            height: 250px; */
        }

    }

    /* RESPONSIVE DESKTOP */

    @media all and (min-width: 811px) {
        #developer .col.wide {
            display: flex;
        }

        #developer .col.wide .text-block {
            max-width: 50%;
            margin-right: 50px;
        }

        #developer .col.wide .image {
            align-self: flex-end;

        }
    }

/* PLANNING */

/* Blocco Strategic planning */
#planning #strat-plan {
    text-align: left;
    margin-bottom: 35px;
}

#planning #strat-plan img {
    margin-bottom: 70px;
}


/* Blocco App Developement */
#planning #app-dev {
    padding: 35px;
    border-radius: 50px;
}

#planning #app-dev h3 {
    color: black;
}

#planning #app-dev p {
    font-size: 1.1em;
}

#planning #app-dev button#arrow {
    margin-top: 35px;
    font-size: 1em;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color:#9792e4 ;
}

    /* RESPONSIVE TABLET E DESKTOP */

    @media all and (min-width: 480px) {
        #planning {
            padding-top: 130px;
        }

        #planning #strat-plan h2 {
            font-size: 4em;
        }

        #planning #strat-plan img {
            margin-bottom: 120px;
        }
    }


    /* RESPONSIVE DESKTOP */
    @media all and (min-width: 811px) {

        #planning .container {
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }

        #planning .container >* {
            max-width: 410px;
            margin-right: 65px;
        }

        #planning #strat-plan {
            margin-bottom: 0;
        }

        #planning #strat-plan h2 {
            font-size: 2.1em;
        }

        #planning #app-dev img {
            max-width: 275px;
        }

    }


/* TESTIMONIALS */

#testimonials {
    font-size: 1.1em;
}

#testimonials span {
    display: inline-block;
    margin-bottom: 30px;
}

#testimonials .text-block {
    margin-bottom: 20px;
}

#testimonials .card p {
    margin-bottom: 20px;
}

#testimonials .card p i {
    font-size: 1.2em;
    margin: 0 5px;
}

#testimonials .card strong {
    font-size: 1.1em;
}

    /* RESPONSIVE TABLET E DESKTOP */

    @media all and (min-width: 480px) {

        #testimonials .card {
            display: flex;
            align-items: center;
        }

        #testimonials .card .image {
            width: 200px;
        }

        #testimonials .card .text-block {
            width: calc(100% - 200px);
            margin-left:4vw;
            text-align: left;
        }
    }




/* BENEFITS */

#benefits .card {
    width: 100%;
    text-align: left;
    padding: 35px;
}

#benefits .card h2 {
    font-size: 3em;
    margin-bottom: 30px;
}

#benefits .card h3 {
    font-size: 1.9em;
}

#benefits .card button {
    background-color: #9792e4;
    margin-top: 30px;
}

    /* RESPONSIVE TABLET E DESKTOP */

    @media all and (min-width: 480px) {
        #benefits .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;

        }

        #benefits .card {
            width: calc((100% - 30px) / 2);
        }
    }

    /* RESPONSIVE DESKTOP */

    @media all and (min-width: 811px) {
        #benefits .card {
            width: calc((100% - 60px) / 3);
        }
    }

/* ABOUT US */

#about-us >* {
    text-align: left;
}

#about-us .text-block h2 {
    font-size: 3em;
    margin-bottom: 30px;
}

#about-us .text-block p {
    margin-bottom: 50px;
    line-height: 2;
}

#about-us .image-block {
    color: #9792e4;

}

#about-us .image.circle {
    margin: 0;
    margin-bottom: 30px;
    position: relative;
}

#about-us .image.circle .fa-quote-left {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3.6em;
} 

#about-us .image-block strong {
    font-size: 1.8em;
}

#about-us .image-block button {
    max-height: none;
    margin: 30px 0;
    font-size: 1em;
    padding: 10px 15px;
}

    /* RESPONSIVE TABLET E DESKTOP */
    
    @media all and (min-width: 480px) {
        #about-us .container {
            width: 80%;
            display: flex;
            justify-content: center;
            padding-top: 40px;
        }

        #about-us .text-block {
            /* width: 300px; */
            margin-right: 6vw;
            
        }
    
        #about-us .image-block {
            width: 250px;
        }

        #about-us .image.circle {
            width: 250px;
            height: 250px;
            margin: 0 auto 15px;
        
        }

        #about-us .text-block h2 {
            font-size: 4.3em;
        }
    }

    /* RESPONSIVE DESKTOP */
    
    @media all and (min-width: 810px) {

        #about-us .text-block {
            width: 65%;
            max-width: 710px;
        }
    }


/* CALL TO ACTION */

.thin-title {
    font-size: 1.2em;
    letter-spacing: .1em;

}

#call-to-action span {
    display: block;
    margin: 0 auto 25px;
}

#call-to-action strong {
    font-size: 1.8em;
}

h2.yellow {
    color: #fdc15f;
    font-size: 3.5em;
    margin: 40px 0;
}

#call-to-action button {
    padding: 25px 70px;
    margin: 15px 0 40px;
    font-size: .9em;
    color: #9792e4;
    letter-spacing: .2em;
    font-weight: 700;
    border-radius: 50px;
}

#call-to-action .fa-circle {
    position: relative;
    font-size: .3em;
    margin: 2px;
    bottom: 3px;
}

#call-to-action a {
    text-decoration: underline;
}

    /* RESPONSIVE TABLET E DESKTOP */
    
    @media all and (min-width: 480px) {
        #call-to-action strong {
            font-size: 2.7em;
        }

        h2.yellow {
            font-size: 5.5em;
        }

        #call-to-action span {
            max-width: 475px;
        }
    }
    


/* FOOTER */

footer {
    height: 235px;
    background-color: #333333;
}








 /************************************************
    DEBUG
 ************************************************/

 /* section {
    min-height: 200px;
    background-color: #9593e6;
    border: solid 1px;
 }

 .container {
    height: 100%;
    border: solid 2px aquamarine;
 }

 main .container div {
    min-height: 200px;
 }

 header .container * {
    border: dotted 1px;
 }

 .row {
    border: dotted 1px purple;
 }

 .col {
    min-height: 200px;
    border: dotted 1px purple;
 }

 .card {
    border: dotted 1px purple;
 } */
