
/* START FROM SMARTPHONE VERSION */

/*************************************************
    GENERAL STYLES
 *************************************************/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

img {
    max-width: 100%;
}

/************************************************
    UTILITIES
 ************************************************/

/* LAYOUT */

.container {
    width: 90%;
    margin: 0 auto;
}

/* TEXT */

/************************************************
    SITE SECTIONS
 ************************************************/

 header {
    height: 100px;
    background-color: #0084fd;
 }

 header .container {
    display: flex;
    justify-content: space-between;
 }

 header #menu-desktop {
            display: none;
        }

    /* RESPONSIVE DESKTOP */

    @media all and (min-width: 811px) {

        header .container {
            max-width: 1000px;
        }

        header #menu-mobile {
            display: none;
        }

        header #menu-desktop {
            display: inline-block;
        }
    }


footer {
    height: 300px;
    background-color: #333333;
}








 /************************************************
    DEBUG
 ************************************************/

 section {
    height: 200px;
    background-color: #9593e6;
    margin-bottom: 30px;
 }

 .container {
    height: 100%;
    background-color: aquamarine;
 }

 header .container * {
    min-width: 150px;
    border: dotted 1px;
 }
