
/* START FROM SMARTPHONE VERSION */

/*************************************************
    GENERAL STYLES
 *************************************************/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

img {
    max-width: 100%;
}

/************************************************
    UTILITIES
 ************************************************/

/* LAYOUT */

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.bg-white {
    background-color: #ffffff;
}

.bg-lavander {
    background-color: #9792e4;
}

.card {
    margin-bottom: 20px;
}


/* TEXT */

/************************************************
    SITE SECTIONS
 ************************************************/

 /* HEADER */

 header {
    height: 100px;
    background-color: #0084fd;
 }

 header .container {
    display: flex;
    justify-content: space-between;
 }

 header #menu-desktop {
            display: none;
        }

    /* RESPONSIVE DESKTOP */

    @media all and (min-width: 811px) {

        .container {
            max-width: 1000px;
        }

        header #menu-mobile {
            display: none;
        }

        header #menu-desktop {
            display: inline-block;
        }
    }

/* MAIN */

/* DEVELOPER */

    /* RESPONSIVE TABLET E DESKTOP */

    @media all and (min-width: 376px) {
       
        .row {
            display: flex;
            justify-content: space-between;
        }
        
        #developer .col.wide {
            width: 60%;
        }

        #developer .col {
            width: 30%;
        }
    }

/* PLANNING */

    /* RESPONSIVE DESKTOP */
    @media all and (min-width: 811px) {
        #planning .container {
            display: flex;
            justify-content: center;
        }
    }


/* TESTIMONIALS */




/* BENEFITS */

#benefits .card {
    width: 100%;
}

    /* RESPONSIVE TABLET E DESKTOP */

    @media all and (min-width: 376px) {
        #benefits .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        #benefits .card {
            min-width: 240px;
            max-width: 50%;
        }
    }

    /* RESPONSIVE DESKTOP */

    @media all and (min-width: 811px) {
        #benefits .card {
            max-width: 33%;
        }
    }

/* ABOUT US */

    /* RESPONSIVE TABLET E DESKTOP */
    @media all and (min-width: 376px) {
        #about-us .container {
            display: flex;
            justify-content: center;
        }
    }


/* FOOTER */

footer {
    height: 300px;
    background-color: #333333;
}








 /************************************************
    DEBUG
 ************************************************/

 section {
    min-height: 200px;
    background-color: #9593e6;
    border: solid 1px;
    margin-bottom: 30px;
 }

 .container {
    height: 100%;
    background-color: aquamarine;
 }

 main .container div {
    min-height: 200px;
 }

 header .container * {
    min-width: 150px;
    border: dotted 1px;
 }

 .row {
    border: dotted 1px purple;
 }

 .col {
    min-height: 200px;
    border: dotted 1px purple;
 }

 .card {
    border: dotted 1px purple;
 }
